@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.cart {
    padding: 1rem;

    @include tablet {
        padding: 1rem 2rem;
        max-width: 1216px;
        margin: 0 auto;
    }

    &__empty {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__title {
        margin-bottom: 2rem;
    }

       &__continue {
        @include flex-center;
        min-width: 2.625rem;
        border: 2px solid $jaffa;
        color: $jaffa;
        background-color: $white-linen;
    
        &:hover {
          background-color: darken($white-linen, 10%);
          border: 2px solid darken($white-linen, 10%);
        }

        &--empty {
          width: 10rem;
        }

        @include tablet {
            height: 2.5rem;
            width: 12rem;
        }
    }
}

.checkout {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
        }

        &__info {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;
            gap: 1rem;

            @include tablet {
                gap: 3rem;
                padding: 1rem 2rem;
            }
          }

          &__left, 
          &__amount {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }

          &__coupon {
            color: $jaffa;
            text-decoration: underline;
          }

          &__sales-tax {
            color: $jaffa;

            &--mobile {
                @include tablet {
                    display: none;
                }
            }

            &--tablet {
                display: none;

                @include tablet {
                    display: contents;
                }
            }
          }

          &__buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            gap: 1rem;
        
            @include tablet {
                
                justify-content: flex-end;
            }
          }
    
          &__submit {
            @include flex-center;
            min-width: 5.563rem;
            border: 2px solid $jaffa;
            color: $white-linen;
            background-color: $jaffa;
        
            &:hover {
              background-color: darken($jaffa, 10%);
              border: 2px solid darken($jaffa, 10%)
            }
            @include tablet {
                height: 2.5rem;
                width: 12rem;
            }
          }
    
          &__cancel {
            @include flex-center;
            min-width: 2.625rem;
            border: 2px solid $jaffa;
            color: $jaffa;
            background-color: $white-linen;
        
            &:hover {
              background-color: darken($white-linen, 10%);
              border: 2px solid darken($white-linen, 10%);
            }

            @include tablet {
                height: 2.5rem;
                width: 12rem;
            }
          }
      }