@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  @include modal-design;
  
  &__title {
    padding-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__input {
    padding: 0.25rem;
    border-radius: 5px;

    &--error {
        border: 2px solid $red-cancel;
    }
  }

  &__submit {
    @include flex-center;
    min-width: 5.563rem;
    border: 2px solid $jaffa;
    color: $white-linen;
    background-color: $jaffa;

    &:hover {
      background-color: darken($jaffa, 10%);
      border: 2px solid darken($jaffa, 10%);
    }
  }

  &__cancel {
    @include flex-center;
    min-width: 2.625rem;
    border: 2px solid $jaffa;
    color: $jaffa;
    background-color: $white-linen;

    &:hover {
      background-color: darken($white-linen, 10%);
      border: 2px solid darken($white-linen, 10%);
    }
  }

  &__sign-up {
    display: flex;
    gap: 0.5rem;
  }

  &__account {
    color: $jaffa;
    cursor: pointer;
  }

  &__error {
    color: $red-cancel;
    font-size: 0.813rem;

    @include tablet {
        font-size: 1rem;
    }
  }
}
