@font-face {
    font-family: "Fontin";
    font-weight: 600;
    font-style: italic;
    src: url(/src/assets/font/Fontin_Sans_BI_45b.otf) format("opentype")
}

@font-face {
    font-family: "Fontin";
    font-weight: 400;
    font-style: italic;
    src: url(/src/assets/font/Fontin_Sans_I_45b.otf) format("opentype")
}

@font-face {
    font-family: "Fontin";
    font-weight: 400;
    src: url(/src/assets/font/Fontin_Sans_R_45b.otf) format("opentype")
}

@font-face {
    font-family: "Fontin";
    font-weight: 400;
    src: url(/src/assets/font/Fontin_Sans_SC_45b.otf) format("opentype")
}

@font-face {
    font-family: "Oliver";
    font-weight: 400;
    src: url(/src/assets/font/Oliver-Regular.ttf) format("truetype")
}