@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../../assets/images/hero-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    @include flex-center;
    flex-direction: row;
    position: relative;
    padding: 1rem;
    gap: 2rem;
    max-width: 1280px;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        margin: auto;
    }

    &__content {
        @include flex-center;
        flex-direction: column;
        gap: 2rem;
        text-align: center;

        @include desktop {
            width: 70%;
        }
    }

    &__goat {
        display: flex;
        justify-content: center;
        height: 8rem;
        width: fit-content;

        @include tablet {
            height: 11rem;
        }
    }

    &__name {
        color: $black;
        position: relative;
    }

    &__bottom {
        position: relative;
    }
}