@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.added-to-cart {
    @include modal-design;
    z-index: 4;

    &__top {
        display: flex;
        height: 2rem;
        justify-content: flex-start;
        align-items: flex;
    }

    &__confirm {
      padding-bottom: 2rem;
      font-size: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    &__image {
        height: 8rem;
        width: fit-content;
        margin: 0 auto;
    }

    &__description {
        font-size: 0.813rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    
        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
        }
      }
    
      &__submit {
        @include flex-center;
        min-width: 5.563rem;
        border: 2px solid $jaffa;
        color: $white-linen;
        background-color: $jaffa;

        &:hover {
          background-color: darken($jaffa, 10%);
          border: 2px solid darken($jaffa, 10%)
        }
      }
    
      &__cancel {
        @include flex-center;
        min-width: 2.625rem;
        border: 2px solid $jaffa;
        color: $jaffa;
        background-color: $white-linen;

        &:hover {
          background-color: darken($white-linen, 10%);
          border: 2px solid darken($white-linen, 10%);
        }
      }
}  