@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.stock {
  @include modal-design;

  &__title {
    padding-bottom: 2rem;
  }

  &__text {
    padding-top: 0.5rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    @include tablet {
        flex-direction: row-reverse;
    }
  }

  &__contact {
    @include flex-center;
    width: 7rem;
    border: 2px solid $jaffa;
    color: $white-linen;
    background-color: $jaffa;

    &:hover {
      background-color: darken($jaffa, 10%);
      border: 2px solid darken($jaffa, 10%)
    }

    @include tablet {
        width: 10rem;
    }
  }

  &__close {
    @include flex-center;
    width: 7rem;
    border: 2px solid $jaffa;
    color: $jaffa;
    background-color: $white-linen;

    &:hover {
      background-color: darken($white-linen, 10%);
      border: 2px solid darken($white-linen, 10%);
    }
  }
}
