@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid $jaffa;
  border-radius: 20px;
  gap: 1rem;
  width: 100%;

  @include tablet {
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    border: 0;
    border-bottom: 2px solid $gold;
    border-radius: 0;
  }

  &__image-wrapper {
    display: flex;
    position: relative;
    border-bottom: 2px solid $jaffa;

    @include tablet {
      width: 35%;
      height: 100%;
      display: flex;
      border-bottom: none;
    }
  }

  &__image {
    width: 100%;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5rem;

    @include tablet {
      padding: 0;
      height: auto;
      width: 10rem;
      flex-grow: 1;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 20px;
    }
  }

  &__price {
    @include body-typo;

    &--mobile {
      display: flex;
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      padding: 0.5rem 3rem;
      background-color: $jaffa;
      border-top-left-radius: 20px;
      color: $white-linen;

      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__description-wrapper {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  &__name {
    @include body-typo;
  }

  &__description {
    @include body-small;
    font-weight: 100;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;

    @include tablet {
      flex-direction: column;
      width: 25%;
    }
  }

  &__add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    padding: 0.25rem 1rem;
    border: 2px solid $jaffa;
    border-radius: 20px;
    @include button;
    color: $jaffa;
  }

  //   &__counter {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     width: 7rem;
  //     padding: 0.25rem 1rem;
  //     border: 2px solid $jaffa;
  //     border-radius: 20px;
  //   }

  //   &__less-button {
  //     background: none;
  //     border: none;
  //     @include button;
  //     color: $jaffa;
  //   }

  //   &__more-button {
  //     background: none;
  //     border: none;
  //     @include button;
  //     color: $jaffa;
  //   }

  //   &__number-items {
  //     color: $jaffa;
  //     @include button;
  //   }

  &__more-details {
    padding: 0.3rem 1rem;
    width: 10rem;
    background-color: $jaffa;
    border: 2px solid $jaffa;
    border-radius: 20px;
    @include button;
    color: $white-linen;

    @include tablet {
      width: 10rem;
    }
  }
}
