@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.product-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 1.5rem;
  width: 100%;
  padding-bottom: 1rem;

  @include tablet {
    width: 48%;
  }

  @include desktop {
    width: 31%;
  }

  &__flip-container {
    width: 100%;
    height: 20rem;
    position: relative;
  }

  &__flipper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__front {
    width: 100%;
    height: 100%;
    position: absolute;
    @include flex-center;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  &__back {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border-radius: 10px;
    position: relative;
    background: $jaffa;
  }

  .product-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .product-card__flip-container:hover .product-card__overlay {
    opacity: 1;
    visibility: visible;
  }

  .product-card__flip-container:hover .product-card__back {
    opacity: 1;
    visibility: visible;
  }

  .product-card__flip-container.flipped .product-card__back {
    opacity: 1;
    visibility: visible;
  }
  
  .product-card__flip-container.flipped .product-card__front {
    opacity: 0;
    visibility: hidden;
  }

  &__quick-view {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
    background-color: $white-linen;
    color: $jaffa;
    border: 2px solid $white-linen;
    font-weight: bold;

    &:hover {
      background-color: darken($white-linen, 10%);
      border: 2px solid darken($white-linen, 10%);
    }
  }

  &__add-to-cart {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $jaffa;
    color: $white-linen;
    border: 2px solid $jaffa;
    text-decoration: none;

    &:hover {
      background-color: darken($jaffa, 10%);
      border: 2px solid darken($jaffa, 10%);
    }
  }

  &__back-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__image-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow;

    @include tablet {
      width: 100%;
      object-fit: cover;
      display: flex;
      border-bottom: none;
    }
  }

  &__image {
    width: 100%;
    position: relative;
    padding: 5rem;

    @include tablet {
      padding: 0;
      height: auto;
      width: 10rem;
      flex-grow: 1;
    }
  }

  &__price {
    @include body-small;
  }

  &__description-wrapper {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  &__description {
    @include body-small;
    font-weight: 100;
  }
}
