@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-review {
  @include modal-design;

  &__title {
    padding-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include tablet {
      width: 30%;
    }
  }

  &__input {
    padding: 0.25rem;
    border-radius: 5px;

    &--province {
      background-color: $white-linen;
      color: $black;
      border: 1px solid $jaffa;
      padding: 0.25rem;
      border-radius: 5px;
      cursor: pointer;

      option {
        background-color: $white-linen;
        color: $jaffa;
        cursor: pointer;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include tablet {
      width: 70%;
    }
  }

  &__textarea {
    height: 10rem;
    resize: none;
    padding: 0.25rem;
    border-radius: 5px;

    @include tablet {
      height: 7rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__submit {
    @include flex-center;
    min-width: 5.563rem;
    border: 2px solid $jaffa;
    color: $white-linen;
    background-color: $jaffa;

    &:hover {
      background-color: darken($jaffa, 10%);
      border: 2px solid darken($jaffa, 10%);
    }
  }

  &__cancel {
    @include flex-center;
    min-width: 2.625rem;
    border: 2px solid $jaffa;
    color: $jaffa;
    background-color: $white-linen;

    &:hover {
      background-color: darken($white-linen, 10%);
      border: 2px solid darken($white-linen, 10%);
    }
  }
}
