@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  width: 100vw;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  max-width: 1216px;

  @include tablet {
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 1000;
  }

  @include desktop {
    margin: auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__menu {
    height: 2rem;
    fill: $desert-orange;
    cursor: pointer;

    @include tablet {
      display: none;
    }
  }

  &__logo {
    height: 4rem;
    cursor: pointer;

    @include tablet {
      display: none;
    }

    &-tablet {
      display: none;

      @include tablet {
        display: flex;
        height: 4rem;
        margin-right: 1rem;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cart {
    &--mobile {
      height: 2rem;
      cursor: pointer;

      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet {
        display: flex;
        cursor: pointer;
        height: 2rem;
      }
    }
  }

  &__cart-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__account--tablet {
    height: 2rem;
  }

  &__left {
    display: none;

    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 60%;
    }
  }

  &__right {
    display: none;

    @include tablet {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
      width: 40%;
    }
  }

  &__options {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    @include title-typo;
    gap: 2rem;
    position: relative;
  }

  &__item {
    cursor: pointer;
    position: relative;
    color: $black;
  }

  &__search {
    display: none;

    @include tablet {
      display: flex;
      padding: 0.5rem 0.75rem;
      border: 2px solid $jaffa;
      border-radius: 20px;
      background-image: url(../../assets/images/etourdi.png);
      background-repeat: no-repeat;
      background-position: calc(100% - 0.5rem) center;
      background-size: 2.5rem;
      max-width: 12rem;
      @include body-small;
    }

    &::placeholder {
      color: $jaffa;
      opacity: 0.7;
    }
  }
}

.header-sub {
  position: absolute;
  top: 100%;
  left: 0;
  background: $white-linen;
  width: 200px;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-10px);

  &__item {
    position: relative; 
    &:hover {
      background-color: darken($white-linen, 10%);
    }

    &:hover > .header-category,
    &:hover > .header-collection {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

.header__item:hover .header-sub {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-category,
.header-collection {
  position: absolute;
  top: 0;
  left: 100%;
  background: $jaffa;
  color: $white-linen;
  width: 180px;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-10px);

  &__item {
    &:hover {
      background-color: darken($jaffa, 10%);
    }
  }
}

.header-sub__item:hover .header-category,
.header-sub__item:hover .header-collection {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}