@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.shop-card {
  @include flex-center;
  background-color: $gold;
  border-radius: 10px;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    text-align: left;
    height: 20rem;
    max-width: 1216px;
    margin: 2rem;
    padding: 1rem 2rem;
    gap: 2rem;
  }

  @include desktop {
    margin: 1rem auto;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    color: $white-linen;
  }

  &__intro {
    color: $white-linen;
    font-size: 1rem;

    @include tablet {
        font-size: 1.25rem;
    }
  }

  &__image {
    height: 10rem;
    border-radius: 50%;

    @include tablet {
      height: 18rem;
    }
  }

  &__button {
    @include flex-center;
    margin: 1rem auto;
    width: 8rem;
    border: 2px solid $coriander;
    background-color: $gold;
    color: $white-linen;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $coriander;
    }

    @include tablet {
      margin: 1rem 0;
    }
  }
}
