@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.artist-card {
  height: 40rem;
  cursor: pointer;
  max-width: 1216px;
  margin: 1rem;

  @include tablet {
    margin: 2rem;
    height: 30rem;
  }

  @include desktop {
    margin: 1rem auto;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;
  }

  &.flipped &__inner {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    @include flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: $box-shadow;
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
  }

  &__front {
    background-color: $jaffa;
    color: $white-linen;
  }

  &__back {
    transform: rotateY(180deg);
  }

  &__front-content {
    @include flex-center;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
      gap: 4rem;
    }
  }

  &__profile {
    @include flex-center;
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;

    @include tablet {
      align-items: flex-start;
    }
  }

  &__photo-artist {
    position: absolute;
    width: fit-content;
    height: 10rem;
    border-radius: 50%;
    z-index: 4;
  }

  &__shape-one {
    position: absolute;
    height: 11.5rem;
    z-index: 3;
    animation: spinClockwise 10s linear infinite;
  }

  &__shape-two {
    position: absolute;
    height: 12rem;
    animation: spinCounterClockwise 12s linear infinite;
  }

  &__front-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__intro {
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__learn-more {
    margin: 1rem auto;
    width: 8rem;
    border: 2px solid $gold;
    background-color: $jaffa;
    color: $white-linen;

    &:hover {
      background-color: $gold;
    }
  }

  &__back {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
  }

  &__text {
    font-size: 1.313rem;
  }

  &__quote {
    font-family: "Lora";
    font-style: italic;
    width: 80%;
  }
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinCounterClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
