@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.added-to-cart {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50%;
    background-color: $white-linen;
    border: 2px solid $jaffa;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 4;

    &__top {
        display: flex;
        height: 2rem;
        justify-content: flex-start;
        align-items: flex;
    }

    &__confirm {
      padding-bottom: 2rem;
      font-size: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    &__image {
        height: 8rem;
        width: fit-content;
        margin: 0 auto;
    }

    &__description {
        font-size: 0.813rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    
        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
        }
      }
    
      &__submit {
        @include button;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 5.563rem;
        padding: 0.25rem 1rem;
        border: 2px solid #dc8150;
        border-radius: 10px;
        color: $white-linen;
        background-color: #dc8150;

        &:hover {
          background-color: darken(#dc8150, 10%);
          border: 2px solid darken(#dc8150, 10%)
        }
      }
    
      &__cancel {
        @include button;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 1rem;
        min-width: 2.625rem;
        border: 2px solid $jaffa;
        border-radius: 10px;
        color: $jaffa;
        background-color: $white-linen;

        &:hover {
          background-color: darken($white-linen, 10%);
          border: 2px solid darken($white-linen, 10%);
        }
      }
}  